<% provide(:title, "Profil") %>
<h3>Profil</h3>
<table class="table table-stripped">
	<tbody>
		<tr>
			<td>Nama</td>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td>No Handphone</td>
			<td><%= @user.phone %></td>
		</tr>
		<tr>
			<td>Jenis Kelamin</td>
			<td><%= @user.gender %></td>
		</tr>
	</tbody>
</table>
<% if @orders.any? %>
	<h3>Catatan Pembelian</h3>
	<table class="table table-bordered">
		<% @orders.each do |order| %>
		<thead>
			<tr class="success">
				<td colspan="2"><b> Nomor pembelian</b> <span class="label label-success"><%= order.id %></span> </td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Nama Penerima</td>
				<td><%= order.name %></td>
			</tr>
				<tr>
				<td>Alamat</td>
				<td><%= order.address %></td>
			</tr>
				<tr>
				<td>Email</td>
				<td><%= order.email %></td>
			</tr>
				<tr>
				<td>Pembayaran</td>
				<td><%= order.pay_type %></td>
			</tr>
				<tr>
				<td>Tanggal Pembelian</td>
				<td><%= (order.created_at).strftime("%A, %d %B %Y %I:%M%p") %></td>
			</tr>
		</tbody>
		<% end %>
	</table>

<% else %>
	<h3> Anda tidak memiliki catatan pembelian</h3>
<% end %>
