<% provide(:title, "My Profile") %>
<h3>My Profile</h3>
<table class="table table-stripped">
	<tbody>
		<tr>
			<td>Name</td>
			<td><%= @user.name %></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td>Phone</td>
			<td><%= @user.phone %></td>
		</tr>
		<tr>
			<td>Gender</td>
			<td><%= @user.gender %></td>
		</tr>
	</tbody>
</table>
<% if @orders.any? %>
	<h3>Order History</h3>
	<table class="table table-bordered">
		<% @orders.each do |order| %>
		<thead>
			<tr class="success">
				<td colspan="2"><b> Order number</b> <span class="label label-success"><%= order.id %></span> </td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Name</td>
				<td><%= order.name %></td>
			</tr>
				<tr>
				<td>Address</td>
				<td><%= order.address %></td>
			</tr>
				<tr>
				<td>Email</td>
				<td><%= order.email %></td>
			</tr>
				<tr>
				<td>Payment Type</td>
				<td><%= order.pay_type %></td>
			</tr>
				<tr>
				<td>Order Date</td>
				<td><%= (order.created_at).strftime("%A, %d %B %Y %I:%M%p") %></td>
			</tr>
		</tbody>
		<% end %>
	</table>

<% else %>
	<h3> You have no order history</h3>
<% end %>
