<% provide(:title, "Pengiriman") %>
<%= form_for(@order, class: "form-horizontal") do |f| %>

	  <div class="form-group row">
	    <%= f.label :nama, class: "col-md-3 col-form-label" %>
	    <div class="col-md-9">
	    <%= f.text_field :name, class: "form-control col-md-9 " %>
	  	</div>
	  </div>

	  <div class="form-group row">
	    <%= f.label :No_Handphone, class: "col-md-3 col-form-label" %>
	    <div class="col-md-9">
	    <%= f.text_field :phone, class: "form-control col-md-9" %>
	  	</div>
	  </div>

	  <div class="form-group row">
	    <%= f.label :Alamat, class: "col-md-3 col-form-label" %>
	    <div class="col-md-9">
	    <%= f.text_area :address, class: "form-control col-md-9" %>
	  	</div>
	  </div>

	  <div class="form-group row">
	    <%= f.label :Pembayaran, class: "col-md-3 col-form-label" %>
	    <div class="col-md-9">
	    <%= f.select :pay_type,["BNI", "Mandiri"],{prompt: "== Pilih Cara Pembayaran =="}, {class: "form-control col-md-9"}  %>
	  	</div>
	  </div>

	  <div class="form-group row">
	    <%= f.label :Kode_pos, class: "col-md-3 col-form-label" %>
	    <div class="col-md-4">
	    <%= f.text_field :pos_code, class: "form-control col-md-4" %>
	  	</div>
	  </div>

	  <%= f.hidden_field :email, :value => current_user.email %>
	  <%= f.hidden_field :user_id, :value => current_user.id %>
	  
	  <div class="form-group row">
	  	<div class="col-md-9 col-md-offset-3">
	    <%= f.submit "Selesaikan Transaksi", :class => "btn btn-success" %>
	  	</div>
	  </div>

<% end %>






