<footer class="footer">
	<div class="col-md-3 col-sm-12">
	<small>
		&copy AB OnlineShop 2017 
	</small>
	</div>
	<div class="col-md-9 col-sm-12">
	<ul>
		<!-- new style without translation -->
		<li>  <%= link_to 'Pertanyaan', question_path %> </li>
		<li>  <%= link_to 'Informasi', news_path %> </li>
		<li>  <%= link_to 'Hubungi Kami', contact_path %> </a> </li>
		<!-- <li> <%= link_to t('.questions'), question_path %>  </li>
		<li> <%= link_to t('.news'), news_path %> </a> </li>
		<li> <%= link_to t('.contact'), contact_path %> </li> -->
	</ul>
	<ul>
		<li> 
			<img src="https://www.nuwori.com/wp-content/uploads/2017/05/go-send-by-go-jek-logo.png" class="img-rounded" alt="go-send-by-go-jek-logo" width="75" height="25"> 
		</li>
		<li>
			<img src="https://image.cermati.com/v1437625814/personal-loan/wyjsacozmdfid1qc9dwb.jpg" class="img-rounded" alt="BNI" width="75" height="25"> 
		</li>
		<li> 
			<img src="https://pendaftaran.budiluhur.ac.id/img/thumbs/mandirilogo.jpg" class="img-rounded" alt="Mandiri" width="75" height="25">
		</li>
	</ul>
	</div>
</footer>