<!DOCTYPE html>
<html>
	<head>
	  <title><%= title(yield(:title)) %></title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<%= render "layouts/header" %>
	<body class="<%= controller.controller_name %>">
		<div class="container-fluid">

				<!-- render message -->		
				<% flash.each do |alert_key, message_value| %>
					<div class="alert alert-<%= alert_key %> alert-dismissable">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> 
						<%= message_value %> 
					</div>
				<% end %>

			<div class="row">
				<div id="columns">
					<aside class="col-sm-3">
						<div id="side">
							<div id="cart">
							<% if @cart %>
								<% hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
									<%= render @cart %>
								<% end %>
							<% end %>
							</div>
						</div><!-- end div of side-->
						<ul class="list group nav nav-pills nav-stacked">
						  <li role="presentation" class="list-group-item">
						  	<a href="#">Mousepad <span class="label label-danger"></span></a>
						  </li>
						  <li role="presentation" class="list-group-item"><a href="#">Mouse</a></li>
						  <li role="presentation" class="list-group-item"><a href="#">Keyboard</a></li>
						</ul>
					</aside>
					<div class="col-sm-9">
							<%= yield %>
					</div>
				</div><!-- end div of columns-->
			</div>	

			<%= render "layouts/footer" %>
		</div><!-- end div of container fluid-->
	</body>
</html>
